.product-list-block {
	padding:10px;
	border:1px solid #f1f1f1;
	.product-thumb {
		text-align: center;
		margin-bottom: 20px;
		img {
			max-height: 250px;
		}
	}
	.product-info {
		border-top:1px solid #f1f1f1;
		padding-top:20px;
		color:#666666;
		.product-name {
			font-size: 18px;
			font-weight: 600;
			color:#333333;
			margin-bottom: 5px;
		}
		.product-label {
			color:#aaaaaa;
		}
	}
}